/*Custom properties*/
:root{

    /*Colores*/
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    /*Fuentes*/
    --fuentePrincipal: 'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

* , *:before , *:after{
    box-sizing: inherit;
}

/************************ Globales *******************************/

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1, h2 , h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

/****************************** Clases ******************************/

/*Para este proyecto se usará la convencion BEM*/

/************ Header ************/
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/********** Navbar ***************/
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;

    /*Centra el contenido del navbar*/
    display: flex;
    justify-content: center;
    gap: 2rem; /*añade un espaciado de 20px entre elemntos dentro del flexbox*/
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    text-decoration: none;
    color: var(--blanco);
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}


/*Este pseudo selector sirve para cuando se agreguen
mas elementos a la barra de navegacion , el ultimo 
elemento no tendrá un margen hacia la derecha y poder
mantener el centrado de forma correcta , esto se puede
aplicar cuando en vez de usar gap ,usar margin*/

/*
.navegacion__enlace:last-of-type{
    margin-right: 0;
}
*/


/********** Footer *********/
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    text-align: center;
}


/*********** Contenido del main *************/
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    /*separaciones entre filas y columnas*/
    column-gap: 2rem;
    row-gap: 2rem;
}

/*media query para hacer que en pantalla PC se vean 3 columnas*/
@media (min-width: 768px){
    .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__imagen{
    width: 100%; /*la imagen usa el 100% del contenedor padre*/
}


.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--secundarioOscuro);
}

.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/************ Graficos *************/
.grafico{
    min-height: 30rem;
    border-image-repeat: no-repeat;
    background-size: cover;   
}

.grafico--camisas{
    grid-row: 2 / 3; /*comienza en row 2 y termina en row 3*/
    grid-column: 1 / 3; /*comienza en column 1 y termina en column 3*/
    background-image: url(../img/grafico1.jpg);
}

.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-column: 1 / 3;
}

@media (min-width: 768px){
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

